.navbar{
    display: flex;
    position: relative;
    background-color: rgb(228, 228, 228);
    height: 35px;
}

.navbar__burger{
    display: none;
}


.navbar__item{
    width: 90px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(199, 199, 199);
    
}

.navbar__item a{
    text-decoration: none;
}

.navbar__item:hover{
    background-color: rgb(211, 210, 210);

}

.navbar__wraper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(233, 233, 233);
    flex-direction: row;
}

.navbar__wraper.active{
   left: 0;
   transition: all 0.3s;
}



@media (max-width: 450px){

    .navbar{
        height: 45px;
    }

    .navbar__burger{
        background-color: rgb(199, 199, 199);
        height: 45px;
        width: 45px;
        display: grid;
        place-items: center;
        cursor: pointer;
        display: none;
    }


    .navbar__wraper{
       flex-direction: column;
       position: absolute;
       width: 100%;
       top: 45px;
       left: -110%;
       transition: all 0.3s;
       
       
    }

    

    .navbar__item {
        width: 100%;
        border-bottom: 2px rgb(228, 226, 226) solid;
        font-size: 20px;
        padding: 10px
    }

    .navbar__burger{
        display: grid;
    }

}